<polymer-element name="slider-slide">
  <template>
    <style>
    :host {
      display: inline-block;
      height: 100%;
      width: 100%;
      overflow: hidden;
      box-sizing: border-box;
      padding: 0 10px;
      transition: opacity 800ms ease-out;
      opacity: .2;

      background-position: 0 0;
      background-repeat:  no-repeat;
      background-size: cover;
    }
    :host([active]) {
      opacity: 1;
    }
    :host > * {
      max-width: 95%;
    }
    ::content ul li {
        margin: 0.5em 0;
        font-size: 120%;
    }
    </style>
    <content></content>
  </template>
  <script>
  Polymer('slider-slide', {
    publish : {
      active : false,
      backgroundColor : 'none',
      backgroundImage : '',
      color : 'inherit',
    },

    attached : function() {
      this.style.color = this.color;
      this.style.backgroundColor = this.backgroundColor;
      if (this.backgroundImage) {
        this.style.backgroundImage = 'url("' + this.backgroundImage + '")';
      }
    }

  });
  </script>
</polymer-element>
