<script src="prism/prism.js" data-manual></script>
<polymer-element name="slider-code" attributes="language escape">
  <template>
    <link rel="stylesheet" href="prism/prism.css">
    <style>
      :host {
        margin: 0 20px;
        width: auto;
        height: auto;
        display: block;

      }
      :host > pre[class*="language-"] {
        border-radius: 4px;
        padding: 0 1em;
      }
    </style>

    <pre>
      <code id="codeviewer" class="language-{{language}}}">
        <content></content>
      </code>
    </pre>
  </template>

  <script>
    Polymer('slider-code', {
        language : '*',
        escape : false,

        attached : function() {
            var html = this.innerHTML;

            if (this.escape) {
                html = this.encode(html);
            }

            this.$.codeviewer.innerHTML = html;
            Prism.highlightElement(this.$.codeviewer);
        },

        encode : function(str) {
            return str.replace(/\</g, '&lt;').replace(/\>/g, '&gt;');
        }
  });
  </script>
</polymer-element>
